<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Phx - postya.net</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="canonical" href="<%= PhxWeb.Router.Helpers.url(@conn) <> @conn.request_path %>">
  </head>
  <body>

  <input id="dark-mode" class="dark-mode-checkbox visually-hidden" type="checkbox">

  <div class="theme-container grow">
    <label class="dark-mode-label" for="dark-mode">
      Dark mode
    </label>

    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><a href="/posts">Posts</a></li>
            <%= if Pow.Plug.current_user(@conn) do %>
              <li><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
            <% else %>
            
              <li><%= link "Register", to: Routes.pow_registration_path(@conn, :new) %></li>
              <li><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></li>
            <% end %>
          </ul>
        </nav>
        <a href="/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/postya.png") %>" alt="Postya.net" height="80px"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </div>

  </body>
</html>
