<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>postya.net</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="theme-container grow">

      <nav role="navigation">
        <div id="menuToggle">
          <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
          <input type="checkbox" />
          <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
          <span></span>
          <span></span>
          <span></span>
          <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
          <ul id="menu">
            <a href="/">
              <li>Frontpage</li>
            </a>
            <a href="/posts">
              <li>Posts</li>
            </a>
            <%= if @current_user && @current_user.role == "admin" do %>
              <a href="/fd_feeds">
                <li>Manage Feeds</li>
              </a>
            <% end %>
            <%= if Pow.Plug.current_user(@conn) do %>
              <li><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
            <% else %>
              <li><%= link "Register", to: Routes.pow_registration_path(@conn, :new) %></li>
              <li><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></li>
            <% end %>
            <label>Tags</label>
            <ul>
              <%= for tag <- get_tags() do %>
                <li><a href="/<%= tag %>"><%= tag %></a></li>
              <% end %>
            </ul>
          </ul>
        </div>
      </nav>
      <main role="main" class="container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </main>
      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
      </div>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </div>
  </body>
</html>
