<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>postya.net</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="theme-container grow">

	  <div class="theme-container grow">

<!--


	    <div style="position:fixed; right: 20px; top:0;">
	      <div>
		<a href="/" class="phx-logo" >
              <img src="<%= Routes.static_path(@conn, "/images/postya.png") %>" alt="Postya.net" height="80px" style="position:float; top:10px; right:30px;"/>
            </a>

	      </div>

    <header>

      <section class="container">
        <nav role="navigation">
          <ul>
            <li><a href="/posts">Posts</a></li>
            <%= if Pow.Plug.current_user(@conn) do %>
              <li><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
            <% else %>

              <li><%= link "Register", to: Routes.pow_registration_path(@conn, :new) %></li>
              <li><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>


	    </div>
      <input id="dark-mode" class="dark-mode-checkbox visually-hidden" type="checkbox">
      <label class="dark-mode-label" for="dark-mode">
        Dark mode
      </label>
      //-->

        <nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
          <input type="checkbox" />
          <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
          <span></span>
          <span></span>
          <span></span>
          <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="/"><li>Frontpage</li></a>
      <a href="/posts"><li>Posts</li></a>
      <%= if Pow.Plug.current_user(@conn) do %>
      <li><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
      <% else %>
      <li><%= link "Register", to: Routes.pow_registration_path(@conn, :new) %></li>
      <li><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></li>
      <% end %>
      <li><input id="dark-mode" class="dark-mode-checkbox" type="checkbox">
      <label class="dark-mode-label" for="dark-mode">
        Dark mode
      </label></li>
    </ul>
  </div>
</nav>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>


    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

	  </div>

  </body>
</html>
